@model IEnumerable<ToDoLife_App.Models.Level>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LevelTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevelTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
