@model IEnumerable<ToDoLife_App.Models.ToDo>

@{
    ViewData["Title"] = "ToDo-List";
}

<h1>ToDo-List</h1>

    <a asp-action="Create" class ="btn btn-primary">Create New</a>
<div id="filterTodoContainer" >
<li>
    <ul>

<form asp-action="FilterByIsNotCompleted">
    <input type="submit" value="Filter ByIsNotCompleted" class="btn btn-secondary" /> 
</form> 
    </ul>
    <ul>



    <a asp-action="index" asp-route-today="true" class="btn btn-secondary">ToDosOfToday</a>
    </ul>
</li>
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th scope="col" >
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                        <form method="post" asp-action="setTaskCompleted" style="display: inline">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value=@item.Id name='Id' />
            <button  type="submit" class="btn btn-secondary"  class="btn btn-primary" >@item.IsCompleted</button>
        </form>  
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> 
                   <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                   <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
