@model IEnumerable<ToDoLife_App.Models.ToDo>

@{
    ViewData["Title"] = "ToDo-List";
}

<h1>ToDo-List</h1>

<button>
    <a asp-action="Create">Create New</a>
</button>
    <form asp-action="FilterByIsCompleted">
        <input type="submit" value="FilterByIsCompleted" class="btn btn-danger" /> |
    </form> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                        <form method="post" asp-action="setTaskCompleted" style="display: inline">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value=@item.Id name='Id' />
            <button  type="submit" class="btn btn-link"  class="btn btn-primary" >@item.IsCompleted</button>
        </form>  
            </td>
            <td>
               <button><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> </button>
                    <button><a asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                    <button><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
