@model ToDoLife_App.Areas.UserInfoDto

@{
    ViewData["Title"] = "User-Info";
}
@{
    String procentReachingNextLevel = ((@Model.TotalCollectedPoints / 100) * @Model.CurrentPoints).ToString();
}
<h1>UserInfo</h1>


 
 <h2>
 @Html.DisplayNameFor(model => model.Level.LevelNumber)
  @Html.DisplayFor(model => model.Level.LevelNumber)
 </h2>            
 <h2>
                @Html.DisplayNameFor(model => model.Level.LevelTitle)
                @Html.DisplayFor(model => model.Level.LevelTitle)
 </h2>
 <h2>
                @Html.DisplayNameFor(model => model.scoreToReachNextLevel)
                @Html.DisplayFor(model => model.scoreToReachNextLevel)
 </h2>
 @Model.scoreToReachNextLevelProcentage
<progress id="progressbar" value="@Model.scoreToReachNextLevelProcentage" max="100" style="width:100%; background-color:black; "> 

</progress>

 

 
